*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  #0000; 
}

*:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;
  background-color: #222;
  overflow: hidden;
  transition: all 1s ease;
}

.wrongAnswer {
  background-color: #422;
  animation: wrongAnim 1s ease;
}

@keyframes wrongAnim {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.rightAnswer {
  background-color: #242;
  animation: rightAnim 1s ease;
}

@keyframes rightAnim {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.04);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.prototype, .cubes {
  margin: 0 auto;
}

.prototype {
  display: grid;
  grid-template-columns: 7.5em 7.5em 7.5em 7.5em;
  grid-template-rows: 7.5em 7.5em 7.5em;
}

.prototype.loading .face {
  background-color: #444;
  box-shadow: 0 0 0 #0000, inset 0 0 0;
}

.prototype .face {
  width: 100%;
  height: 100%;
  background-color: #0000;
  background-size: cover;
  box-shadow: 0 20px 40px #0008, inset 0 0 0 1px;
  transition: all 1s ease;
}

.prototype.loading .face:nth-of-type(1) {
  animation: pulse 1s ease infinite;
}

.prototype.loading .face:nth-of-type(2) {
  animation: pulse 1s ease infinite .1s;
}

.prototype.loading .face:nth-of-type(3) {
  animation: pulse 1s ease infinite .2s;
}

.prototype.loading .face:nth-of-type(4) {
  animation: pulse 1s ease infinite .3s;
}

.prototype.loading .face:nth-of-type(5) {
  animation: pulse 1s ease infinite .4s;
}

.prototype.loading .face:nth-of-type(6) {
  animation: pulse 1s ease infinite .5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.cubes {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 50vh;
  width: 50vh;
  cursor: pointer;
}

.cube:hover {
  transform: scale(1.5);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg);
  animation: rotateScene 30s infinite;
}

.floor {
  position: absolute;
  transform: translateZ(-1em) translateY(1em) translateX(1em);
  width: 6em;
  height: 6em;
  background: #0000;
  filter: blur(100px);
  transition: all 1s ease;
}

.floor.visible {
  background: #0003;
  filter: blur(10px);
}

.cube {
  position: absolute;
  top: -999px;
  left: -999px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 2.5em;
  width: 5em;
  height: 5em;
  transition: all 1s ease;
}

.cube.visible {
  top: 50%;
  left: 50%;
}

.prototype {
  font-size: 12px;
  grid-gap: 2em;
}

.cubes {
  font-size: 14px;
  grid-gap: 3.5em 0;
}

@media (max-width: 720px) {
  .prototype {
    font-size: 9px;
    grid-gap: 1.5em;
  }
  .cubes {
    font-size: 11px;
    grid-gap: 4em;
  }
}

.cube .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff5;
  background-size: cover;
  box-shadow: inset 0 0 0 1px;
}